################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projects/Project1/Promodoro/obj/Debug
/Projects/Project1/Promodoro/bin
/Projects/Project1/packages
/Projects/Project1/.vs
*.user
/.vs
/Projects/.vs
